*
{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-color: white;
}

header h1
{
    color: black;
    text-align: center;
    margin-top: 30px;
}

main
{
    display: flex;
    justify-content: center;
}

.outer-line
{
    margin-top: 10px;
    height: 500px;
    width: 400px;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

footer
{
    text-align: center;
}

label
{
    font-size: 30px;
}

input
{
    font-size: larger;
    padding: 10px;
    border: 1px solid black;
}

button
{
    padding: 10px 30px;
    border: 1px solid transparent;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: larger;
}